.title-logo {
  font: var(--title-logo);
}

.title-md {
  font: var(--title-md);
}

.title-sm {
  font: var(--title-sm);
}

.color-accent-pink {
  color: var(--pink);
}

.text-heading {
  color: var(--text-heading);
}

.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.mb-4 {
  margin-bottom: 0.25rem;
}

.mb-40 {
  margin-bottom: 2.5rem;
}
