.layout {
  display: grid;
  grid-template-columns: 31.25% 64.0625%;
  gap: 1.25rem;
  padding: 1.25rem;
  justify-content: center;
  height: calc(100vh);
}

.side-image {
  border-radius: 0.75rem;
  background: center/cover no-repeat url(/assets/Background.png);

  padding: 2rem 2rem;
  margin-left: auto;

  & > img {
    width: 2.865625rem;
    height: 3rem;
    margin-bottom: 1rem;
  }
}

.invite-container {
  background-color: var(--shape-body);
  border-radius: 0.75rem;
  padding-block: 5rem;

  & > * {
    width: 35rem;
    margin-inline: auto;
  }

  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: inherit;
  }

  &::-webkit-scrollbar-track {
    background: var(--shape-background);
    border-radius: 0.75rem;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--shape-body);
    border-radius: 0.75rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--shape-hover);
  }
}
