.invite-form {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.form-input-wrapper {
  display: flex;
  flex-direction: column;

  & > label {
    display: inline-block;
    margin-bottom: 0.75rem;
  }

  &:has(:invalid) > span.error {
    display: flex;
    column-gap: 0.5rem;
    margin-top: 0.5rem;

    & > p {
      color: var(--danger);
      font: var(--text-sm);
    }
  }

  &:has(:valid) > span.error {
    display: none;
  }
}

#about-event {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  & > div:nth-child(2),
  & > div:last-child {
    grid-column: 1/3;
  }
}

#theming {
  display: grid;
  grid-template-columns: 11rem 2fr;
  gap: 1rem 1.75rem;

  & > div:nth-child(-n + 3) {
    grid-column: 1 / -1;
  }
}

#contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  & > div:nth-child(2) {
    grid-column: 1 / -1;
  }
}

#footer {
  display: flex;
  flex-direction: column;
  column-gap: 3rem;

  padding-top: 2.5rem;

  & > div:nth-child(2) {
    grid-column: 1 / -1;
  }
}
