.checkbox-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.checkbox {
  position: relative;
  padding-block: 0.25rem;

  display: flex;
  column-gap: 0.75rem;

  & > span {
    width: 1.25rem;
    height: 1.25rem;

    border-radius: 0.25rem;

    background-color: var(--input-base);

    border: 1px solid var(--input-stroke);

    &:has(:checked) {
      background: center/cover url(/assets/icons/check.svg);
      border-color: var(--brand-light);
    }
  }

  & > label {
    font: var(--text-sm);
    color: var(--text-body);
  }
}
