.file-input {
  position: relative;

  display: flex;
  column-gap: 0.75rem;
  align-items: center;

  & > span {
    padding: 0.65625rem 1.5rem;

    border-radius: 0.5rem;

    background-color: var(--shape-button);

    display: flex;
    column-gap: 0.75rem;
    align-items: center;
    justify-content: center;

    & > img {
      width: 1rem;
      aspect-ratio: 1/1;
      object-fit: cover;
    }

    & > p {
      font: var(--text-sm-strong);
      color: var(--text-heading);
    }
  }

  & > input[type="file"] {
    all: unset;

    &::file-selector-button {
      opacity: 0;
      position: absolute;
      inset: 0;
      cursor: pointer;
      z-index: 1;
    }
  }
}
