.file-input {
  position: relative;
  width: 8.7125rem;

  display: flex;
  column-gap: 0.75rem;
  align-items: center;

  cursor: pointer;

  &:has(:hover) > button {
    background-color: var(--shape-hover);
  }

  & > input[type="file"] {
    all: unset;

    &::file-selector-button {
      opacity: 0;
      position: absolute;
      inset: 0;
      width: 100%;
      cursor: inherit;
    }
  }
}
